<div class="login-container">
<div class="form-container">
    <h3>LOGIN</h3>    
    <form id="form">
        <input type="email" name="email" value="" placeholder="Email" (change)="handleEmail($event)" required/>
        <br/>
        <input type="password" name="password" #password placeholder="Password" (change)="handlePassword($event)" required/>
        <br/>
        <br/>
        <button type="button" (click)="loginUser()">SIGN IN</button>
        <p class="login-error" *ngIf="loginError !== ' ' ">{{loginError}}</p>
    </form>
</div>
<p>Are you a new user?</p>
<p><a routerLink="register">REGISTER</a></p>
</div>